.main {
    width: 100%;
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 4rem;
}

.body{
    width: 100%;
    max-width: 750px;
}

.headerContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header{
    margin-top: 10px;
    font-size: 1.5rem;
    color: white;
}

.createBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--colors-gray01);
    background-color: transparent;
    color: white;
    font-size: 14px;
    gap: 10px;
    padding: 6px 14px 8px;
    border-radius: 12px;
    cursor: pointer;
}

.createBtn:hover{
    background-color: var(--colors-gray02);
}

.createBtnIcon{
    font-size: 20px;
}

.navBar{
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid var(--colors-darkGray);
}

.navBtns{
    position: relative;
    border: none;
    background-color: transparent;
    color: var(--colors-ghost);
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    transition: border 0.3s ease, color 0.3s ease;
}

.activeNavBtns{
    color: white;
}

.activeNavBtns::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid white;
}

.content{
    margin-top: 15px;
}

.projectBtnContainer{
    display: flex;
    width: 100%;
    gap: 12px;
}

.projectBtn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--colors-darkGray);
    border-radius: 12px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.projectBtn:hover{
    background-color: var(--colors-black01);
}

.iconContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menuIcon{
    position: relative;
    display: flex;
    transform: rotate(90deg);
    opacity: 0;
}

.menuIcon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 8px 9px;
    border-radius: 10px;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: var(--colors-black01);
    z-index: -1;
    opacity: 0;
}

.menuIcon:hover::after{
    opacity: 1;
}

.projectBtn:hover .menuIcon{
    opacity: 1;
}

.projectBtn:has(.menuIcon:hover){
    background-color: transparent;
}

.sharedProjectsContainer{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--colors-black01);
    padding: 25px;
    border-radius: 12px;
}

.sharedUserIcon{
    color: var(--colors-ghost);
    background-color: var(--colors-black01);
    padding: 8px;
    border-radius: 100%;
    display: flex;
}

.sharedUpperText{
    font-size: 14px;
    margin: 15px 0 10px;
}

.sharedLowerText{
    font-size: 14px;
    color: var(--colors-ghost);
}

.exampleProjectsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.exampleBtn{
    border: none;
    background-color: var(--colors-black03);
    color: white;
    border-radius: 12px;
    padding: 12px 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.exampleBtn:hover{
    background-color: var(--colors-black02);
}

.exampleBtnHeader{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.exampleBtnTitle{
    font-size: 15px;
    font-weight: 550;
}

.exampleBtnExample{
    margin-left: auto;
    font-weight: 500;
    color: var(--colors-ghost);
    font-size: 15px;
}

.exampleBtnDesc{
    display: flex;
    margin-top: 10px;
    color: var(--colors-ghost);
    font-size: 13px;
    text-align: left;
    line-height: 1.6;
}