.body {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  display: flex;
  overflow: hidden;
}

.nav {
  width: 16rem; 
  transition: width 0.5s ease;
}

.nav.collapsed {
  width: 3.6rem;
}

.content {
  flex-grow: 1;
}