.buttonContainer{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    color: var(--colors-ghost);
    font-size: 13px;
    font-weight: 500;
    border: 1px solid var(--colors-darkGray);
    border-radius: 30px;
    background-color: black;
    padding: 8px 18px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 7px;
    cursor: pointer;
}

.buttonTitle{
    color: white;
}

.buttonContainer:hover{
    background-color: var(--colors-gray02);
}

.buttonContainer.buttonContainerClicked{
    background-color: black;
    cursor: auto;
}

.additionalIcon{
    stroke-width: 2;
    margin-top: 4px;
}

.dropdownMenuContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 230px;
    min-height: 100%;
    background-color: var(--colors-gray01);
    border-radius: 16px;
    padding: 5px;
    pointer-events: none;
    animation: fadeIn 0.2s ease alternate;
    white-space: nowrap;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}