.btnContainer{
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  color: white;
  gap: 8px;
  pointer-events: auto;
  padding: 10px;
  width: 100%;
}

.btnContainer:hover{
  background-color: var(--hover-no-bg, rgba(83, 83, 83, 0.7));
}

.iconWrapper{
  display: flex;
}

.additionalIconWrapper{
  margin-left: auto;
}