.inputBtn{
    width: 100%;
    height: 40px;
    background-color: rgba(47, 47, 47, 0.4);
    border: 1px solid rgba(116, 116, 116, 0.2);
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 2px;
    overflow: hidden;
    white-space: nowrap;
}

.inputBtn.collapsed{
    width: 40px;
    margin-bottom: 2px;
}

.inputBtn:hover{
    background-color: rgba(255, 255, 255, 10%);
}

.inputBtnText{
    color: white;
}

.inputBtnText .textCtrl{
    color: rgb(143, 143, 143);
}